replicaCount: 1

image:
  repository: aqll/agri-food-api
  tag: latest
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8080

container:
  port: 8080

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi

# /metrics scrape qilish uchun
metrics:
  enabled: true
  path: /metrics
  interval: 15s

# ServiceMonitor kube-prometheus-stack tomonidan topilishi uchun label
prometheus:
  releaseLabel: kube-prometheus-stack

# Pod label (xohlasang keyin ishlatamiz)
labels:
  app: agri-food-api
