replicaCount: 1

image:
  repository: aqll/agri-food-api
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi

metrics:
  enabled: true
  path: /metrics
  interval: 15s

# Prometheus operator ServiceMonitor tanishi uchun
prometheus:
  releaseLabel: kube-prometheus-stack
