grafana:
  enabled: true
  adminPassword: "ChangeMeStrongPassword"
  service:
    type: ClusterIP
  sidecar:
    datasources:
      enabled: true
  additionalDataSources:
    - name: Loki
      type: loki
      access: proxy
      url: http://loki:3100
      isDefault: false

prometheus:
  prometheusSpec:
    retention: 7d
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false

alertmanager:
  enabled: true

prometheus-node-exporter:
  enabled: false

nodeExporter:
  enabled: false
