apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: agri-food-api
  labels:
    release: kube-prometheus-stack
spec:
  namespaceSelector:
    matchNames:
      - apps
  selector:
    matchLabels:
      app: agri-food-api
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
